
// Login SCSS


.modal-login {
    .modal-header {
        background: url('/images/header-login.jpg') no-repeat center center;
        background-size: cover;
        border-bottom: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        height: 150px;

        .close {
            color: #fff;
            font-size: 40px;
            padding-top: 9px;
        }
    }
}

.login-form {
    /* width: 340px; */
    margin: 5px auto;
    max-width: 300px;
    padding-top: 30px;
    
    h2 {
        margin: 0 0 15px;
    }

    .hint-text {
        color: #777;
        padding-bottom: 15px;
        text-align: center;
    }
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.btn-font-color {
    color: white;
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    
    i {
        padding: 0 10px;
        background: #fff;
        position: relative;
        top: -11px;
        z-index: 1;
    }
}

.social-btn  {
    .btn {
        border-radius: 2px !important;
        font-size: 13px;
        margin: 15px 0;
        padding: 13px 15px;
        position: relative;

        i {
            left: 20px;
            position: absolute;
            top: calc(50% - 6px);
            transform: scale(1.7);
        }
    }
}

.input-group-addon .fa{
    font-size: 18px;
}