
// ALL PAGES. SCSS

.pt-page {
    padding-top: 130px;
}

header {
    &.titulo--padrao {
        .titulo {
            color: $facebook;
            font-weight: 100;
            text-align: left;
        }
    }
}

.page_sidebar {
    background-color: #fff;

    .sidebar_header {
        padding: 15px 0;

        .sidebar_header__titulo {
            color: $text-cinza;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .sidebar_content {}
}

.page_content {}