
// ALL PAGES. SCSS

.pt-page {
    padding-top: 130px;

    .card {
        .card-header {
            background-color: #fff;
            border-bottom-color: transparent;

            .fa {
                margin: 10px;
                opacity: .7;
                transform: scale(1.2);
            }
        }
    }
}

header {
    &.titulo--padrao {
        .titulo {
            color: $facebook;
            font-weight: 100;
            text-align: left;
        }

        &.titulo--padrao--breadcrumb {
            .titulo {
                font-size: 18px;
                font-weight: 500;

                .bread-child {
                    color: $texto-padrao;
                    font-weight: 600;
                }
            }
        }
    }
}

.page_sidebar {
    background-color: #fff;

    .sidebar_header {
        padding: 15px 0;

        .sidebar_header__titulo {
            color: $text-cinza;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .sidebar_content {}
}

.page_content {}