
// ALL PAGES. SCSS

.pt-page {
    padding-top: 180px;
}

header {
    &.titulo--padrao {
        .titulo {
            color: $facebook;
            font-weight: 100;
            text-align: left;
        }
    }
}