
// Imovel SCSS

.box-imovel {
    margin: 0 0 20px;
    padding: 15px 20px;
    text-align: center;

    &.box-imovel--remove {
        position: relative;

        *[type="submit"] {
            background-color: #ccc;
            border-radius: 3px;
            color: #1f1f1f;
            font-weight: bold;
            height: 28px;
            margin: 5px;
            position: absolute;
            right: 5px;
            top: -3px;
            transform: scaleX(1.2);
            width: 24px;

            &:hover {
                background-color: #666;
            }
        }
    }
    
    .box-title {
        color: $text-cinza;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        text-transform: uppercase;
    }

    .info-box-text {
        color: $text-cinza;
        display: block;
        font-size: 14px;
        line-height: 1.2;

        &.info-box-text--resumo {
            height: 49px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
        }
    }

    .more-info {
        color: $texto-destaque;
        font-weight: bold;
        margin: 5px 0;
    }

    .specifications {
        margin: 5px 0;

        .texto {
            margin: 0;
        }
    }

    .btn-secondary {
        background-color: $texto-destaque;
        border-color: $texto-destaque;
        font-weight: bold;
    }
}


// #map-imoveis
#map-imoveis {
    background-color: rgba(0,0,0,.1);
    min-height: 350px;
    width: 100%;
}

// DETALHES imovel

ul.list-three-columns {
    color: #666;
    padding-left: 40px;

    li {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
    }
}

.area-imovel-fotos {
    .owl-carousel {
        .owl-item {
            .item {
                height: 317px;

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

.area-imovel-mapa {
    .card {
        .card-header {
            .card-title {
                p {
                    font-size: 14px;
                }
            }
        }

        .card-body {
            padding-top: 0 !important;

            .latlng-map {
                background-color: rgba(0,0,0,.1);
                min-height: 204px;
                position: relative;
                width: 100%;
            
                &:before {
                    content: " Carregando mapa... ";
                    position: absolute;
                    top: calc(50% - 11px);
                    left: calc(50% - 65px);
                }
            }
        }
    }
}